<head>
  <style>
  .contain{
    width:8em;
}

</style>
</head>
<!-- Navigation Bar -->

<nav class="navbar sticky-top navbar-expand-lg justify-content-center bg-dark text white  ">
  <div class="container p-2" >
    <a class="navbar-brand text-white ms-2" href="">Great Quotes</a>

  </div>
    <div class="collapse navbar-collapse me-auto "  id="navbarSupportedContent">
      <ul class="navbar-nav mb-lg-0  " style="font-size: 18px;" >

        <li class="nav-item">
          <a class="nav-link active p-3 contain"  style="color:white" aria-current="page" href="/">All Quotes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active p-3 contain"  style="color:white" aria-current="page" href="/products/new">New Quotes</a>
        </li>
        
      </ul>
      
    </div>

</nav>