<head>
  <style>
  .nav-link{
    width:8em;
}


</style>
</head>
<!-- Navigation Bar -->

<nav class="navbar sticky-top navbar-expand-lg justify-content-center bg-dark " style="--bs-navbar-padding-y: 0.05em">
  <div class="container p-2" >
    <a class="navbar-brand text-white" href="#">Great Quotes</a>
    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "  ></span>
    </button>
  </div>
    <div class="collapse navbar-collapse me-auto "  id="navbarSupportedContent">
      <ul class="navbar-nav mb-lg-0  " style="font-size: 18px;" >

        <li class="nav-item">
          <a class="nav-link active p-3"  style="color:white" aria-current="page" href="/">All Quotes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active p-3"  style="color:white" aria-current="page" href="/products/new">New Quotes</a>
        </li>
        
      </ul>
      
    </div>

</nav>